* {
  margin: 0;
  padding: 0;
  --off-white: #f5f4f0;
}

main {
  --margin-and-offset: 2rem;
  --height-and-width-offset: calc(var(--margin-and-offset) * 2);
  display: flex;
  align-items: center;
  height: calc(100vh - var(--height-and-width-offset));
  width: calc(100vw - var(--height-and-width-offset));
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 2rem;
  padding: var(--margin-and-offset);
  background-color: #010110;
  color: var(--off-white);
}

#title {
  font-size: 6rem;
}

main > * {
  width: 50%;
}

.section-button {
  margin-bottom: 0.5rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.5em;
  position: relative;
  cursor: pointer;
  color: var(--off-white);

  &::after {
    --offset: 50%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: var(--offset);
    width: 0;
    height: 100%;
    border-bottom: 1px solid var(--off-white);
    transition: 300ms;
    transform: translateX(calc(var(--offset) * -1));
    padding-bottom: 2px;
  }

  &:hover::after {
    width: 100%;
  }
}

.section-button:last-child {
  margin-bottom: 0;
}

#back-button {
  --font-size: 1rem;
  background: none;
  font-style: inherit;
  border: none;
  cursor: pointer;
  font-size: var(--font-size);
  color: var(--off-white);
  
  /* &::before {
    content: '';
    width: var(--font-size);
    height: var(--font-size);
    display: inline-block;
    background-color: black;
    clip-path: path("M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z");
    transform: rotate(-90deg);
  } */
}

#content {
  display: flex;
  align-items: center;
}

.project-title {
  display: inline-block
}

.chevron {
  --height-and-width: 1.5rem;
  transform: rotate(90deg);
  height: var(--height-and-width);
  width: var(--height-and-width);
  margin: 0 1.5rem;
}

.chevron.flipped {
  transform: rotate(-90deg);
}

.project-divide {
  width: 5%;
  margin: 1rem auto;
}

.project-description {
  font-style: italic;
  text-align: center;
}

.project-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

ul {
  list-style-position: inside;
  list-style-type: circle;
  columns: 2;
}

li {
  margin-bottom: 0.5rem;
}
