* {
  margin: 0;
  padding: 0;
  --off-white: #f5f4f0;
  --off-white-tint: #939290;
  --gold: #bc9b18;
  --black: #010110;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  --margin-and-offset: 2rem;
  --height-and-width-offset: calc(var(--margin-and-offset) * 2);
  display: flex;
  align-items: center;
  height: calc(100vh - var(--height-and-width-offset));
  width: calc(100vw - var(--height-and-width-offset));
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 2rem;
  padding: var(--margin-and-offset);
  background-color: var(--black);
  color: var(--off-white);
}

#title, #job-title {
  font-family: "Zilla Slab", serif;
}

#title {
  font-size: 6rem;
  font-family: "Zilla Slab", serif;
  font-weight: 300;
}

main > * {
  width: 50%;
}

.section-button {
  margin-bottom: 0.5rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.5em;
  position: relative;
  cursor: pointer;
  color: var(--off-white);
  transition: 300ms;
  
  &:hover {
    color: var(--off-white-tint);
  }

  &.selected:hover {
    color: var(--gold);
  }
}

.section-button:last-child {
  margin-bottom: 0;
}

.back-button {
  --font-size: 1rem;
  --transition-time: 200ms;
  background: none;
  font-style: inherit;
  border: none;
  cursor: pointer;
  font-size: var(--font-size);
  color: var(--off-white);
  transition: var(--transition-time);

  .chevron {
    transition: var(--transition-time);
  }

  &:hover {
    color: var(--off-white-tint);

    .chevron {
      fill: var(--off-white-tint);
    }
  }
}

#content {
  display: flex;
  align-items: center;
}

.project-title {
  display: inline-block;
  font-family: "Zilla Slab", sans-serif;
}

.chevron {
  --height-and-width: 1.5rem;
  transform: rotate(90deg);
  height: var(--height-and-width);
  width: var(--height-and-width);
  margin: 0 1.5rem;
  fill: var(--off-white);
}

.chevron.flipped {
  transform: rotate(-90deg);
}

.project-divide {
  width: 5%;
  margin: 1rem auto;
}

.project-description {
  font-family: "Zilla Slab", serif;
  font-style: italic;
  text-align: center;
}

.project-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

ul {
  list-style-position: inside;
  list-style-type: circle;
  columns: 2;
}

li {
  margin-bottom: 0.5rem;
}

#job-title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--gold);
}

.selected {
  color: var(--gold);
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#call-button {
  background: none;
  border: none;
  color: var(--off-white);
  cursor: pointer;
  font-size: 1.25rem;
  width: max-content;
  transition: 300ms;

  &:hover {
    color: var(--off-white-tint);
  }
}

#contact-container {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
